break-before-auto {
  break-before: auto;
}
break-before-always {
  break-before: always;
}

break-before-avoid {
  break-before: avoid;
}

break-before-avoid-column {
  break-before: avoid-column;
}

break-before-avoid-page {
  break-before: avoid-page;
}

break-before-column {
  break-before: column;
}

break-before-left {
  break-before: left;
}

break-before-page {
  break-before: page;
}

break-before-right {
  break-before: right;
}
