break-after-auto {
  break-after: auto;
}
break-after-always {
  break-after: always;
}

break-after-avoid {
  break-after: avoid;
}

break-after-avoid-column {
  break-after: avoid-column;
}

break-after-avoid-page {
  break-after: avoid-page;
}

break-after-column {
  break-after: column;
}

break-after-left {
  break-after: left;
}

break-after-page {
  break-after: page;
}

break-after-right {
  break-after: right;
}
