w-auto {
  width: auto;
}

w-inherit {
  width: inherit;
}

w-init {
  width: initial;
}

w-fit {
  width: -moz-fit-content;
  width: fit-content;
}
w-max {
  width: max-content;
}

w-min {
  width: min-content;
}

//
h-auto {
  height: auto;
}

h-inherit {
  height: inherit;
}

h-init {
  height: initial;
}
h-fit {
  height: fit-content;
}

h-max {
  height: max-content;
}

h-min {
  height: min-content;
}
